

:root {
    --primary-text-color:#757575; 
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --background-color:#E5E5E5;
    --secondary-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --transparen-color:rgba(255, 255, 255, 0.6);
    --fill-color:#2F303A;
    --button-hover-focus: #188ce8;
    --one-time-color: #ececec;
    --icon-fill: #afb1b8;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-start-time: 250ms;
}
/*послядние изменения*/
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    
    color:var(--primary-text-color);
    line-height: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/*Шапка*/
.header {
    border-bottom: 1px solid var( --one-time-color);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin-left: 93px;
}
.mailphon-icon {
    display: block;
    margin-right: 10px;
}
.contact {
    display: flex;
    align-items: center;
}
.contact-link {
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-start-time) var(--cubic-bezier),
                fill var(--transition-start-time) var(--cubic-bezier);
}
.icon-section-list-icon {
    width: 70px;
    height: 70px;
    fill: var(--icon-fill);
}
.icon-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.icon-section-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    box-sizing: border-box;
    border-radius: 4px;
}
.nav,
.contacts-list,
.nav-list {
    display: flex;
    align-items: center;
}

.contacts-list {
    margin-left: auto;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.header-container .logo,
.footer-logo {
    color: var(--logo-color);
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-left {
    color: var(--accent-color);
}
.contact-tyten {
    margin-right: 50px;
}
.active.active::after {
    opacity: 1;
}
.active.active:hover,
.active.active:focus {
    color: var(--accent-color);
}
.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    opacity: 0;
}
.active {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
    padding: 32px 0;

}
.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding: 32px 0;
    transition: color var(--transition-start-time) var(--cubic-bezier);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    color: var(--accent-color);
}
/*основнвя секция*/

.section-main {
    background-color: var(--fill-color);
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
     ),                     
    url(..//images/BgSt.jpg);
    background-position: center;
    background-size: auto;
    margin: 0 auto;
}
.main-title {
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.primary-button {
    border-radius: 4px;
    border: 0;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    transition: background-color var(--transition-start-time) var(--cubic-bezier);
}
.primary-button:hover,
.primary-button:focus {
    background-color: var(--button-hover-focus);   
}
                                                 /*секция основные качества*/

.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-container {
    padding: 94px 0;
}
.quality-section {
    display: flex;
    justify-content: space-between;
}
.quality {
    width: 270px;
}
.quality-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quality-content {
     color: var(--primary-text-color);
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
}
                                             /*секция чем мы занимаемся*/
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.section-container-class {
    padding-bottom: 94px;
}
.work-list-item {
    flex-basis: calc((100% - 90px) / 3);
}

.title-secondary,
.clients-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.work-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.work-list-img {
    position: relative;
}
  
                                                     /*наша команда*/

.section-user {
    background-color: var(--secondary-background-color);
}

.team-user-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 30px 0 10px;
}
.list-our-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    background-color: var(--secondary-color);
}
.our-team {
    display: flex;
    justify-content: space-between;
}
.section-user .team-user-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 400;
}
.our-team .team-user-position {
    margin-bottom: 30px;
}
.social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-fill);
    transition: fill var(--transition-start-time) var(--cubic-bezier);
}
.social-list {
    display: flex;
    padding: 0 32px 30px 32px;
    justify-content: space-between;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: background-color var(--transition-start-time) var(--cubic-bezier);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--secondary-color);
}
                            /*постоянные клиенты*/
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-fill);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color var(--transition-start-time) var(--cubic-bezier);
}
.clients-list-link:hover,
.clients-list-link:focus {
    border-color: var(--accent-color);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
    fill: var(--accent-color);
}
.clients-list-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-fill);
    transition: fill var(--transition-start-time) var(--cubic-bezier);
}

.clients-section-secondary {
      padding: 94px 15px;
      width: 1200px;
      margin: 0 auto;
}

                                              /*нижний колонтитул*/

.footer {
  background-color: var(--fill-color);
  padding: 60px 0;
  display: flex;
}
.footer-container {
    display: flex;
}
.footer-address-container {
    margin-right: 70px;
}
.title-address,
.footer-logo { 
    color: var(--secondary-color);
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
    display: inline-block;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-item {
    font-style: normal;
}
.bottom-link {
    color: var(--transparen-color);
}
.bottom-address {
    font-style:normal;
}
.footer-social-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.footer-form-message {
    width: 358px;
    padding: 15px 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--secondary-color);
    margin-right: 12px;
}
.footer-form-message::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  align-self: center;
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 29px;
  transition: background-color var(--transition-start-time) var(--cubic-bezier),
            color var(--transition-start-time) var(--cubic-bezier);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form-btn::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: contain;
}
.footer-social:not(:last-child) {
    margin-right: 93px;
}

                    /*шапка*/
.info-link:hover,
.info-link:focus {
    color: var(--accent-color);
}
.info-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    transition: color var(--transition-start-time) var(--cubic-bezier);
}
.contacts-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    fill: var(--primary-text-color);
    display: flex;
    align-items: center;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.footer-social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.footer-social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
    transition: fill var(--transition-start-time) var(--cubic-bezier);
}
.footer-social-list {
    display: flex;
}
.footer-social-list-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-start-time) var(--cubic-bezier);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--accent-color);
}
.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
    fill: var(--secondary-color);
}

                                    /*потфолио*/

                                    /*ссылки*/
.navigation-buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.button-list:not(:last-child) {
    margin-right: 8px;
}
.secondary-button {
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
    letter-spacing: 0.06em;
    transition: background-color var(--transition-start-time) var(--cubic-bezier),
                color var(--transition-start-time) var(--cubic-bezier),
                box-shadow var(--transition-start-time) var(--cubic-bezier);
}
.secondary-button:hover,
.secondary-button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
                                        /*Портфолио*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list-aytom {
    background: var(--secondary-color);
}

.portfolio-list-aytom:not(:nth-child(-n+3)) {
    margin-top: 30px;
}
.portfolio-list-aytom:not(:nth-child(3n)) {
    margin-right: 30px;
}
.card-content {
    border: 1px solid var(--one-time-color);
    border-top: none;
    padding: 20px 24px;
}
.title-portfolio {
    color:  var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.context-portfolio {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.portfolio-link {
    display: block;
    transition: box-shadow var(--transition-start-time) var(--cubic-bezier);
}
.portfolio-link:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.overlay-box {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 20px;
    transform: translateY(100%);
    transition: transform var(--transition-start-time) var(--cubic-bezier),
                 opacity var(--transition-start-time) var(--cubic-bezier);
    opacity: 0;
}
  
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translateY(0%);
    opacity: 1;
}
                    /*модельное окно*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: visibility var(--transition-start-time) var(--cubic-bezier);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color var(--transition-start-time) var(--cubic-bezier);
}
.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--transition-start-time) var(--cubic-bezier);
}
.modal-w-close {
    width: 18px;
    height: 18px;
}
.modal-close-btn:hover {
    fill: var(--accent-color);
}











.modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
  }
  .modal-form-field {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }
  .modal-form-textarea {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  .modal-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }
  .modal-form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
  }
  .modal-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  .modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
  }
  .modal-form-message::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  .modal-form-checkbox-policy::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-form-checkbox:focus + .modal-form-checkbox-policy::before,
  .modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
    background-image: url(../images/svg/Vector.svg);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
  .modal-form-checkbox-policy {
    font-size: 14px;
    line-height: 1.71px;
    color: var(--primary-text-color);
    margin-top: 20px;
    display: inline-block;
  }
  .modal-form-btn {
    color: var(--title-text-color);
    padding: 10px 32px;
    margin-top: 30px;
  }
  .modal-form-btn:hover,
  .modal-form-btn:focus {
    background-color: var(--button-hover-focus);
    color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .modal-form-policy-link {
    color: var(--button-hover-focus);
  }