
:root {
    --primary-text-color:#757575; 
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --background-color:#E5E5E5;
    --secondary-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --transparen-color:rgba(255, 255, 255, 0.6);
    --fill-color:#2F303A;
    --button-hover-focus: #188ce8;
    --one-time-color: #ececec;
}
                                                            /*послядние изменения*/
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    
    color:var(--primary-text-color);
    line-height: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
                                                    /*Шапка*/
.header {
    padding: 24px 0;
    border-bottom: 1px solid var( --one-time-color);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin: 93px;
}
.nav,
.contacts-list,
.nav-list {
    display: flex;
    align-items: center;
}
.contacts-list {
    margin-left: auto;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.header-container .logo,
.footer-logo {
    color: var(--logo-color);
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-left {
    color: var(--accent-color);
}
.contact-aytom {
    margin-right: 50px;
}
                                               /*основнвя секция*/
 
.section-main {
    background-color: var(--fill-color);
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: url(..//images/BgSt.jpg);
    background-position: center;
    background-size: auto;
    margin: auto;
}
.main-title {
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.primary-button {
    border-radius: 4px;
    border: 0;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
}
.primary-button:hover,
.primary-button:focus {
    background-color: var(--button-hover-focus);
    color: var(--secondary-color);
    
}
                                                 /*секция основные качества*/

.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-container {
    padding: 47px 0 94px;
}
.quality-section {
    display: flex;
    justify-content: space-between;
}
.quality {
    width: 270px;
}
.quality-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quality-content {
     color: var(--primary-text-color);
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
}
                                             /*секция чем мы занимаемся*/
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.work-list-item {
    flex-basis: calc((100% - 90px) / 3);
}

.title-secondary {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
                                                     /*наша команда*/

.section-user {
    background-color: var(--secondary-background-color);
}

.team-user-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 30px 0 10px;
}
.list-our-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}
.our-team {
    display: flex;
    justify-content: space-between;
}
.section-user .team-user-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 400;
}
.our-team .team-user-position {
    margin-bottom: 30px;
}
                                              /*нижний колонтитул*/

.footer {
  background-color: var(--fill-color);
  padding: 60px 0;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.title-address,
.footer-logo { 
    color: var(--secondary-color);
}
.address {
    margin-top: 20px;
}
.bottom-link {
    color: var(--transparen-color);
}
.bottom-address {
    font-style:normal;
}
                    /*шапка*/
.active {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}
.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    color: var(--accent-color);
}
.info-link:hover,
.info-link:focus {
    color: var(--accent-color);
}
.info-link{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.contacts-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--accent-color);
}



                                    /*потфолио*/

                                    /*ссылки*/
.navigation-buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.button-list:not(:last-child) {
    margin-right: 8px;
}
.secondary-button {
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
    letter-spacing: 0.06em;
}
.secondary-button:hover,
.secondary-button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
                                        /*Портфолио*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list-aytom {
    background: var(--secondary-color);
}

.portfolio-list-aytom:not(:nth-child(-n+3)) {
    margin-top: 30px;
}
.portfolio-list-aytom:not(:nth-child(3n)) {
    margin-right: 30px;
}


.card-content {
    border: 1px solid var( --one-time-color);
    border-top: none;
    padding: 20px 24px;
}
.title-portfolio {
    color:  var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.context-portfolio {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
